<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <style type="text/css">
            .title{font-size:18px;}
            .aqua{background-color:#c2f3f3;}
            .red{background-color:red !important;}
            .yellow{background-color:yellow;}
            .gray{background-color:gray;}
        </style>    
    </head>
    <body >
        
        <img src="##LOGOPATH##" style="height:30px;"/>


    </body>
</html>
