<html>
    <head>
        <style type="text/css">
            .text-red{color:red;} 
            .f22{font-size:22px;}
            .mt20{margin-top:20px;}
            .table{
                border:1px solid #000;
                border-collapse: collapse;
                border-spacing: 0;
                width:100%;
            }
            th{
                padding:5px;
                border:1px solid #000;
            }
            td{
                padding:5px;
                border:1px solid #000;
                text-align:center;
                font-size:11px;
                height:40px;
            }
            .alert-dark{
                background-color:ivory;
                border:1px solid #ccc;
                padding:10px;
            }
            .pink{
                background-color:lightpink;
            }
        </style>
    </head>
    <body>
        <h2>ベーシックコース　オンライン講座　資格認定試験</h2>
        <h3>氏名:##NAME##　　試験日:##EXAM_DATE##</h3>
        <h3>検査結果</h3>
        <h4>正答数：##COLLECT##問/53問中</h4>
        <div class="alert alert-dark" >
            <p class="card-text">##MESSAGE##</p>
            <p class="card-text">##ERRMSG##</p>
        </div>
        <table class="table table-bordered text-center mt20">
          
            <tr>
              <th scope="col" colspan=4 >1章</th>
              <th scope="col" colspan=7 >2章</th>
              <th scope="col" colspan=4 >3章</th>
            </tr>
            <tr>
                <td nowrap >設問1</td>
                <td nowrap >設問2</td>
                <td nowrap >設問3</td>
                <td nowrap >設問4</td>
                <td nowrap >設問5</td>
                <td nowrap >設問6</td>
                <td nowrap >設問7</td>
                <td nowrap >設問8</td>
                <td nowrap >設問9</td>
                <td nowrap >設問10</td>
                <td nowrap >設問11</td>
                <td nowrap >設問12</td>
                <td nowrap >設問13</td>
                <td nowrap >設問14</td>
                <td nowrap >設問15</td>
            </tr>
            <tr>
                <td class="##BK1##"  >##TD1##</td>
                <td class="##BK2##"  >##TD2##</td>
                <td class="##BK3##"  >##TD3##</td>
                <td class="##BK4##"  >##TD4##</td>
                <td class="##BK5##"  >##TD5##</td>
                <td class="##BK6##"  >##TD6##</td>
                <td class="##BK7##"  >##TD7##</td>
                <td class="##BK8##"  >##TD8##</td>
                <td class="##BK9##"  >##TD9##</td>
                <td class="##BK10##" >##TD10##</td>
                <td class="##BK11##" >##TD11##</td>
                <td class="##BK12##" >##TD12##</td>
                <td class="##BK13##" >##TD13##</td>
                <td class="##BK14##" >##TD14##</td>
                <td class="##BK15##" >##TD15##</td>
            </tr>
        </table>

        <table class="table table-bordered text-center mt20">
          
            <tr>
                <th scope="col" colspan=3 >4章</th>
                <th scope="col" colspan=4 >5章</th>
                <th scope="col" colspan=3 >6章</th>
                <th scope="col" colspan=5 >7章</th>
            </tr>
            <tr>
                <td nowrap >設問16</td>
                <td nowrap >設問17</td>
                <td nowrap >設問18</td>
                <td nowrap >設問19</td>
                <td nowrap >設問20</td>
                <td nowrap >設問21</td>
                <td nowrap >設問22</td>
                <td nowrap >設問23</td>
                <td nowrap >設問24</td>
                <td nowrap >設問25</td>
                <td nowrap >設問26</td>
                <td nowrap >設問27</td>
                <td nowrap >設問28</td>
                <td nowrap >設問29</td>
                <td nowrap >設問30</td>
            </tr>
            <tr>
                <td class="##BK16##" >##TD16##</td>
                <td class="##BK17##" >##TD17##</td>
                <td class="##BK18##" >##TD18##</td>
                <td class="##BK19##" >##TD19##</td>
                <td class="##BK20##" >##TD20##</td>
                <td class="##BK21##" >##TD21##</td>
                <td class="##BK22##" >##TD22##</td>
                <td class="##BK23##" >##TD23##</td>
                <td class="##BK24##" >##TD24##</td>
                <td class="##BK25##" >##TD25##</td>
                <td class="##BK26##" >##TD26##</td>
                <td class="##BK27##" >##TD27##</td>
                <td class="##BK28##" >##TD28##</td>
                <td class="##BK29##" >##TD29##</td>
                <td class="##BK30##" >##TD30##</td>
            </tr>
        </table>


        <table class="table table-bordered text-center mt20">
          
            <tr>
                <th scope="col" colspan=5 >8章</th>
                <th scope="col" colspan=5 >9章</th>
                <th scope="col" colspan=5 >10章</th>
            </tr>
            <tr>
                <td nowrap >設問31</td>
                <td nowrap >設問32</td>
                <td nowrap >設問33</td>
                <td nowrap >設問34</td>
                <td nowrap >設問35</td>
                <td nowrap >設問36</td>
                <td nowrap >設問37</td>
                <td nowrap >設問38</td>
                <td nowrap >設問39</td>
                <td nowrap >設問40</td>
                <td nowrap >設問41</td>
                <td nowrap >設問42</td>
                <td nowrap >設問43</td>
                <td nowrap >設問44</td>
                <td nowrap >設問45</td>
            </tr>
            <tr>
                <td class="##BK31##" >##TD31##</td>
                <td class="##BK32##" >##TD32##</td>
                <td class="##BK33##" >##TD33##</td>
                <td class="##BK34##" >##TD34##</td>
                <td class="##BK35##" >##TD35##</td>
                <td class="##BK36##" >##TD36##</td>
                <td class="##BK37##" >##TD37##</td>
                <td class="##BK38##" >##TD38##</td>
                <td class="##BK39##" >##TD39##</td>
                <td class="##BK40##" >##TD40##</td>
                <td class="##BK41##" >##TD41##</td>
                <td class="##BK42##" >##TD42##</td>
                <td class="##BK43##" >##TD43##</td>
                <td class="##BK44##" >##TD44##</td>
                <td class="##BK45##" >##TD45##</td>
            </tr>
        </table>

        <table class="table table-bordered text-center mt20">
          
            <tr>
                <th scope="col" colspan=8 >10章</th>
            </tr>
            <tr>
                <td nowrap >設問46</td>
                <td nowrap >設問47</td>
                <td nowrap >設問48</td>
                <td nowrap >設問49</td>
                <td nowrap >設問50</td>
                <td nowrap >設問51</td>
                <td nowrap >設問52</td>
                <td nowrap >設問53</td>
            </tr>
            <tr>
                <td class="##BK46##" >##TD46##</td>
                <td class="##BK47##">##TD47##</td>
                <td class="##BK48##">##TD48##</td>
                <td class="##BK49##">##TD49##</td>
                <td class="##BK50##">##TD50##</td>
                <td class="##BK51##">##TD51##</td>
                <td class="##BK52##">##TD52##</td>
                <td class="##BK53##">##TD53##</td>
            </tr>
        </table>

    </body>
</html>